body {
    margin-bottom: 60px;
    background-color: #b1c2e7;
}

table {
    width:100%;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid #b8bec5;
    padding: 0.5rem;
}

td, th {
    text-align: left;
}

td:nth-child(1), td:nth-child(3){
    text-align: center;
}

th {
    font-weight: bold;
}

.selected {
    background-color: #0a0216;
    color: #FFF;
}